<html>

<head>
  <title>CoLaLab Imitation Detection</title>

  <!--JS-->

  <!-- external general utilities -->
  <script src="../_shared/js/jquery-1.11.1.min.js "></script>
  <script src="../_shared/full-projects/jquery-ui/jquery-ui.min.js"></script>
  <script src="../_shared/js/underscore-min.js"></script>
  <!-- if you want to draw stuff: -->
  <!-- <script src="../_shared/js/raphael-min.js"></script> -->

  <!-- cocolab experiment logic -->
  <script src="../_shared/js/exp-V2.js"></script>
  <script src="../_shared/js/stream-V2.js"></script>

  <!-- cocolab general utilities -->
  <script src="../_shared/js/mmturkey.js "></script>
  <script src="../_shared/js/browserCheck.js"></script>
  <script src="../_shared/js/utils.js"></script>
  <!-- if you want to draw cute creatures (depends on raphael): -->
  <!-- <script src="../_shared/js/ecosystem.js"></script> -->

  <!-- experiment specific helper functions -->
  <!-- <script src="js/local-utils.js"></script> -->

  <!--CSS-->
  <link href="../_shared/full-projects/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
  <link href="../_shared/css/cocolab-style.css" rel="stylesheet" type="text/css" />
  <link href="css/local-style.css" rel="stylesheet" type="text/css" />

  <!-- experiment file -->
  <script src="js/imit_exp.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>

</head>

<body onload="init();">
  <noscript>This task requires JavaScript.</noscript>

  <div class="slide" id="i0">
    <img src="../_shared/images/CoLaLabLogo.jpg" alt="Stanford CoCoLab" id="cocologo"></img>
    <p id="cocolab">University of California, Irvine CoLaLab</p>
    <p id="instruct-text">You will be asked to respond to 5 prompts in the style of 5 different writers.
      To accomplish this task, you will be given three 3 samples from each author.
      The HIT should take about 30 minutes. Please answer to the best of your ability, thank you!</p>
    <p>
      <b>NOTE: do not attempt this HIT more than one time. The experiment site will not
        work if you attempt to do it again. This experiment is more accurate when all
        writers are different. Thank you!
      </b>
    </p>
    <button id="start_button" type="button">Start Experiment</button>
    <p id="legal">Legal information: By answering the following questions, you are participating in a study being
      performed
      by linguists in the University of California, Irvine Department of Language Science. If you have questions about
      this research, please contact
      Charles Rodriguez-De Vera at <a href="mailto://charlevr@uci.edu">charlevr@uci.edu</a> or Dr. Lisa Pearl, at
      lpearl@uci.edu.
      You must be at least 18 years old to participate. Your participation in this research is voluntary. You may
      decline to answer
      any or all of the following questions. You may decline further participation, at any time, without adverse
      consequences.
      Your anonymity is assured; the researchers who have requested your participation will not receive any personal
      information about you.
    </p>
  </div>

  <div class="slide" id="instructions">
    <h3>Instructions</h3>
    <p>You will be given 5 prompts and for each prompt, you will be given three writing samples from another writer.
      Your task is analyze the writing style of this author and write your own email responding to the prompt
      using the writer's style.
      Imitate the writer and answer the prompt to the best of your ability. Below is a sample email with around 1000
      characters:
    </p>
    <div align="left">
      <b>The emails that you will copy the style of: </b>
      </br>
      <i>These text boxes are scrollable.</i>
      </br>
      </br>
      <div style="height:300px;width:400px;border:1px;overflow:auto;display: inline-block">
        Hi Auntie!
        I'm actually really broke right now and I need a lot of money. This is because somebody broke into my house and
        stole all of valuables and found the safe that I stored all of my money in! Crazy, right? Anyways, I need to get
        a new car, new furniture, new appliances, and pretty much new everything and I need your help. I was thinking of
        getting this brand new car that came out that isn't too expensive! It costs like $22,000 if you don't mind
        fronting that. Also, my fridge does still work but a new one would honestly be great! Like it really does suck
        that I lost all my money and I could really use all the help I can get. Would you mind just using paypal to wire
        me maybe $30,000? That shouldn't be too bad right? Thank you!!
      </div>
      <div style="height:300px;width:400px;border:1px;overflow:auto;display: inline-block">
        Hi everyone!
        I'm so so sorry that I am late for this meeting! I know that this was very important but I really had no
        control
        over why I was late. I can explain why I'm 3 hours late! I hope you enjoyed the lunch I ordered for
        everyone. So
        first of all, my dog ate my phone! It had my alarms so I couldn't wake up on time. After that, I rushed to
        go
        get ready and went into my car. Then there was so much traffic! The freeway collapsed so I was stuck there
        for
        like 2 hours. Then whats crazy is that I was rushing so much that I forgot to fill up my gas tank! So there
        I
        was in the middle of the freeway when my car suddenly ran out of gas. I can't make this stuff up. That's
        when I
        called the catering services to get everyone lunch. Please understand as I really had no control over the
        situation and I am still in traffic. Thank you!
      </div>
      <div style="height:300px;width:400px;border:1px;overflow:auto;display: inline-block">
        Hi mom!
        Okay, don't be worried, but I just got into a car accident in that new Mercedes Benz you and dad just got me.
        I'm at the hospital right now in the ICU after they operated on my head. Everything's fine though! So what
        happened was I was out partying with my friends and I really wanted to go home before curfew. I really didn't
        drink that much so I drove myself. Then all of a sudden, on the intersection, some bozo showed up out of nowhere
        and t-boned my car! How dare they! They said their light was green and mine was red but I swear I saw a green
        light on my side! This was a last night and I have been at the hospital ever since. Man, I hope people are more
        careful driving, especially since my car was so nice! Would you mind picking me up after i get released? Thanks
        mom!
      </div>

      <p>
        <b>Your Prompt: </b>
        </br>
        </br>
        <b>Tell your dad about your day.</b>
      </p>
      <p>
        <b>Your Response:</b>
        </br>
        </br>
        Oh hey Dad! How's it going? Let me tell you about my day today, you won't believe it. First of
        all, I woke up late and so I had to hurry and run to the bus stop. On my way to the bus stop I was trying
        to review for my final when I tripped on air and went flying to the ground! It's okay though, I was still able
        to make it to the bus stop. I scratched up my legs and arms kind of bad but I had more important things to worry
        about! So I stood up, dusted myself off and continued my sprint to the bus stop. As I was running and looking at
        my notes I realized that I had the wrong notebook with me! Everything was still fine though because eventually
        I made it to the bus stop and I was actually on time for the test! Anyways, the test went okay but I was still
        scratched up and sore from faceplanting onto the ground. It could've been much worse though! Anyways, hope your
        day was less stressful than mine Dad!
        </b>
        </br>
        </br>

      </p>
      <button onclick="_s.button()">Continue</button>
    </div>
  </div>

  <div class="slide" id="single_trial">
    </br>
    </br>
    <div class="full_page">
      <div align="left">
        <b>The emails that you will copy the style of: </b>
        </br>
        <i>These text boxes are scrollable.</i>
        </br>
        </br>
        <div class="prompt_1" style="height:300px;width:400px;border:1px;overflow:auto;display: inline-block">
        </div>

        <div class="prompt_2" style="height:300px;width:400px;border:1px;overflow:auto;display: inline-block">
        </div>

        <div class="prompt_3" style="height:300px;width:400px;border:1px;overflow:auto;display: inline-block">
        </div>

        </br>
        </br>
        <b>Your Prompt: </b>
        </br>
        <p class="prompt">{{}}</p>

        <b>Your Response: </b>
        </br>
        <i>(remember, your response should be in English with at least 700 characters)</i>
        </br>
        </br>
        <textarea type="text" class="response" id="text_response" rows="10" cols="100"></textarea>
        <br>

        <button onclick="char_count()">Check number of characters:</button>
        <p class="num_chars">0</p>
        <br>

        <button class="cont_exp" onclick="_s.button()">Continue</button>

        <p class="err">Please write more than 700 characters.</p>
        <p class="err_non_english">Please write your response in English.</p>
        <p class="err_same">Please make your response more different from the sample response
          and your previous responses.
        </p>

      </div>
    </div>
    <p class="err_repeat">Hi, it seems like you have done this experiment before. We will only
      allow you to attempt this experiment once. Thank you for participating
      and feel free to attempt any of our other experiments in the future.
    </p>
  </div>

  <div class="slide" id="subj_info">
    <div class="long_form">
      <div class="subj_info_title">Additional information</div>
      <p class="info">Answering these questions is optional, but will help us understand your answers.</p>
      <p>Did you read the instructions and do you think you did the HIT correctly?</p>
      <label><input type="radio" name="assess" value="No" />No</label>
      <label><input type="radio" name="assess" value="Yes" />Yes</label>
      <label><input type="radio" name="assess" value="Confused" />I was confused</label>

      <p>Were there any problems or bugs in the experiment?</p>
      <textarea id="problems" rows="2" cols="50"></textarea>

      <p>What do you think is a fair price for the work you did?</p>
      <textarea id="fairprice" rows="1" cols="10"></textarea>

      <p>Gender:
        <select id="gender">
          <label>
            <option value="" /></label>
          <label>
            <option value="Male" />Male</label>
          <label>
            <option value="Female" />Female</label>
          <label>
            <option value="Other" />Other</label>
        </select>
      </p>

      <p>Age: <input type="text" id="age" /></p>

      <p>Level Of Education:
        <select id="education">
          <label>
            <option value="-1" /></label>
          <label>
            <option value="0" />Some High School</label>
          <label>
            <option value="1" />Graduated High School</label>
          <label>
            <option value="2" />Some College</label>
          <label>
            <option value="3" />Graduated College</label>
          <label>
            <option value="4" />Hold a higher degree</label>
        </select>
      </p>

      <p>Native Language: <input type="text" id="language" /></p>
      <label>(the language(s) spoken at home when you were a child)</label>

      <p>Did you enjoy the hit?</p>
      <select id="enjoyment">
        <label>
          <option value="-1"></option>
        </label>
        <label>
          <option value="0">Worse than the Average HIT</option>
        </label>
        <label>
          <option value="1">An Average HIT</option>
        </label>
        <label>
          <option value="2">Better than average HIT</option>
        </label>
      </select>

      <p>We would be interested in any comments you have about this experiment. Please type them here:</p>
      <textarea id="comments" rows="3" cols="50"></textarea>
      <br />
      <button onclick="_s.submit()">Submit</button>
    </div>
  </div>

  <div id="thanks" class="slide js">
    <p class="big">Thanks for your Time!</p>
  </div>

  <div class="progress">
    <span>Progress:</span>
    <div class="bar-wrapper">
      <div class="bar" width="0%">
      </div>
    </div>
  </div>

</body>

</html>