<html>

<head>
  <title>CoLaLab Imitation Detection</title>

  <!--JS-->

  <!-- external general utilities -->
  <script src="../_shared/js/jquery-1.11.1.min.js "></script>
  <script src="../_shared/full-projects/jquery-ui/jquery-ui.min.js"></script>
  <script src="../_shared/js/underscore-min.js"></script>
  <!-- if you want to draw stuff: -->
  <!-- <script src="../_shared/js/raphael-min.js"></script> -->

  <!-- cocolab experiment logic -->
  <script src="../_shared/js/exp-V2.js"></script>
  <script src="../_shared/js/stream-V2.js"></script>

  <!-- cocolab general utilities -->
  <script src="../_shared/js/mmturkey.js "></script>
  <script src="../_shared/js/browserCheck.js"></script>
  <script src="../_shared/js/utils.js"></script>
  <!-- if you want to draw cute creatures (depends on raphael): -->
  <!-- <script src="../_shared/js/ecosystem.js"></script> -->

  <!-- experiment specific helper functions -->
  <!-- <script src="js/local-utils.js"></script> -->

  <!--CSS-->
  <link href="../_shared/full-projects/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
  <link href="../_shared/css/cocolab-style.css" rel="stylesheet" type="text/css" />
  <link href="css/local-style.css" rel="stylesheet" type="text/css" />

  <!-- experiment file -->
  <script src="js/orig_author_exp.js"></script>

</head>

<body onload="init();">
  <noscript>This task requires JavaScript.</noscript>

  <div class="slide" id="i0">
    <img src="../_shared/images/CoLaLabLogo.jpg" alt="Stanford CoCoLab" id="cocologo"></img>
    <p id="cocolab">University of California, Irvine CoLaLab</p>
    <p id="instruct-text">You will see 7 prompts which you will be asked to respond to.
      The HIT should take about 30 minutes. Please answer to the best of your ability, thank you!</p>
    <button id="start_button" type="button">Start Experiment</button>
    <p id="legal">Legal information: By answering the following questions, you are participating in a study being
      performed
      by linguists in the University of California, Irvine Department of Language Science. If you have questions about
      this research, please contact
      Charles Rodriguez-De Vera at <a href="mailto://charlevr@uci.edu">charlevr@uci.edu</a> or Dr. Lisa Pearl, at
      lpearl@uci.edu.
      You must be at least 18 years old to participate. Your participation in this research is voluntary. You may
      decline to answer
      any or all of the following questions. You may decline further participation, at any time, without adverse
      consequences.
      Your anonymity is assured; the researchers who have requested your participation will not receive any personal
      information about you.
    </p>
  </div>

  <div class="slide" id="instructions">
    <h3>Instructions</h3>
    <p>You will be given seven prompts. Please respond to the prompts as if you were emailing someone.
      Each email must be at least 700 characters. Answer to the best of your ability. Below is a sample prompt and email
      response
      in the format that you will see in the experiment. The email shown is about 1000 characters long:
    </p>

    <div align="left">
      <p>
        <b>Prompt: </b>
        </br>
        </br>
        Write a letter to a hiring manager describing
        why you are the best fit for a communications director job.
      </p>
      <p>
        <b>Response: </b>
        </br>
        </br>
        Dear Hiring Manager,
        </br>
        </br>
        I read your job posting for a Communications Director with interest. I am confident that my ten years of
        experience in communications in both the private and public sector make me an ideal fit for the position.
        In my position as Communications Director for XYZ Company, I wrote articles for the company website, managed
        guest
        author submissions, and wrote and sent a weekly email newsletter to subscribers. I received consistent praise
        from
        the director for my attention to detail and clear, straightforward writing style.
        While Assistant Communications Director for Assemblyperson Susan Smith, I researched, drafted and amended
        legislation, wrote press releases, and was responsible for office communications and correspondence.
        I also have extensive experience writing on a freelance basis on labor issues, which, I believe, would be an
        ideal
        match for this position. Articles are available for your review at:
        </br>
        </br>
        URL
        </br>
        URL
        </br>
        URL
        </br>
        </br>
        Additional writing samples and my resume are attached. If I can provide you with any further information on my
        background and qualifications, please let me know.
        I look forward to hearing from you. Thank you for your consideration.
        </br>
        </br>
        Sincerely,
        </br>
        Your Name
      </p>

    </div>
    <button onclick="_s.button()">Continue</button>
  </div>

  <div class="slide" id="single_trial">
    <div align="left">
      <b>Prompt: </b>
      </br>
      <p class="prompt">{{}}</p>

      <b>Response: </b>
      </br>
      </br>
      <textarea type="text" id="text_response" rows="10" cols="100"></textarea>
      <br>
      <br>
      <button onclick="char_count()">Check number of characters:</button>
      <p class="num_chars">0</p>
      <br>

      <button onclick="_s.button()">Continue</button>

      <p class="err">Please write more than 700 characters.</p>
      <p class="err_non_english">Please write your response in English.</p>

    </div>
  </div>

  <div class="slide" id="subj_info">
    <div class="long_form">
      <div class="subj_info_title">Additional information</div>
      <p class="info">Answering these questions is optional, but will help us understand your answers.</p>
      <p>Did you read the instructions and do you think you did the HIT correctly?</p>
      <label><input type="radio" name="assess" value="No" />No</label>
      <label><input type="radio" name="assess" value="Yes" />Yes</label>
      <label><input type="radio" name="assess" value="Confused" />I was confused</label>

      <p>Were there any problems or bugs in the experiment?</p>
      <textarea id="problems" rows="2" cols="50"></textarea>

      <p>What do you think is a fair price for the work you did?</p>
      <textarea id="fairprice" rows="1" cols="10"></textarea>

      <p>Gender:
        <select id="gender">
          <label>
            <option value="" /></label>
          <label>
            <option value="Male" />Male</label>
          <label>
            <option value="Female" />Female</label>
          <label>
            <option value="Other" />Other</label>
        </select>
      </p>

      <p>Age: <input type="text" id="age" /></p>

      <p>Level Of Education:
        <select id="education">
          <label>
            <option value="-1" /></label>
          <label>
            <option value="0" />Some High School</label>
          <label>
            <option value="1" />Graduated High School</label>
          <label>
            <option value="2" />Some College</label>
          <label>
            <option value="3" />Graduated College</label>
          <label>
            <option value="4" />Hold a higher degree</label>
        </select>
      </p>

      <p>Native Language: <input type="text" id="language" /></p>
      <label>(the language(s) spoken at home when you were a child)</label>

      <p>Did you enjoy the hit?</p>
      <select id="enjoyment">
        <label>
          <option value="-1"></option>
        </label>
        <label>
          <option value="0">Worse than the Average HIT</option>
        </label>
        <label>
          <option value="1">An Average HIT</option>
        </label>
        <label>
          <option value="2">Better than average HIT</option>
        </label>
      </select>

      <p>We would be interested in any comments you have about this experiment. Please type them here:</p>
      <textarea id="comments" rows="3" cols="50"></textarea>
      <br />
      <button onclick="_s.submit()">Submit</button>
    </div>
  </div>

  <div id="thanks" class="slide js">
    <p class="big">Thanks for your Time!</p>
  </div>

  <div class="progress">
    <span>Progress:</span>
    <div class="bar-wrapper">
      <div class="bar" width="0%">
      </div>
    </div>
  </div>

</body>

</html>